body {
  margin: 0;
  padding: 0;
}

$white-color: #ebebeb;
$pink-color: #f51167;

h2.section-title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1em;
}

.store-buttons {
  position: relative;
  top: 80%;
  left: 55%;
}

button.btn {
  border-radius: 2em;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-pink {
  background-color: $pink-color;
  color: $white-color;
}

.text-pink {
  color: $pink-color;
}

.hidden {
  display: none;
}

.load-more {
  border: 2px solid black;
  font-weight: 600;
  text-transform: uppercase;
}

.description {
  font-size: 0.9em;
  font-weight: 600;
}

#top-nav-bar {
  position: sticky;
  top: 0;
  z-index: 1050;
  #top-search {
    > input {
      border-radius: 1rem;
    }
    .search-btn {
      position: absolute;
      right: 0.5rem;
    }
  }

  .dropdown-menu-right {
    position: absolute;
  }
}

#store-nav {
  > ul > li {
    margin: 0 1rem;
    > a {
      font-weight: 700;
    }
  }
  .new::before{
    content: "new";
    transform: translate(50%, -35%);
    background-color: $pink-color;
    position: absolute;
    color: $white-color;
    font-size: 0.7em;
    padding: 0 0.5em;
    border-radius: 1em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }
}

#new-arrivals-hero {
  .jumbotron {
    background-image: url("../../img/new-arrivals.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
    color: $white-color;
    .jumbotron-left {
      width: 40%;
      align-self: flex-end;
      > h4,
      h1 {
        text-transform: uppercase;
        font-weight: 700;
      }
      .jumbotron-buttons {
        button {
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }
    .jumbotron-right {
      background-color: $pink-color;
      width: 10em;
      height: 10em;
      padding-top: 1em;
      align-self: flex-end;
      text-align: center;
      font-weight: 700;
      margin-left: 35%;
      margin-top: auto;
      span {
        text-transform: uppercase;
      }
      h1 {
        line-height: 1;
      }
    }
  }
}

#store-features {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;

  > div {
    height: 5rem;
    > span {
      margin-right: 0.5rem;
    }
  }

  > div:nth-child(even) {
    background-color: $pink-color;
    color: $white-color;
  }
}

#latest-products {
  #carouselControls {
    > .carousel-control-next,
    .carousel-control-prev {
      width: unset;

      > .icon-circle-right,
      .icon-circle-left {
        scale: 2;
        color: black;
      }
    }
    > .row {
      margin: unset;
    }
  }
}

#top-selling-products {
  .categories {
    button {
      background-color: #ebebeb;
    }
  }
}

#contact-us {
  flex-wrap: wrap;
  .container {
    position: relative;
    .contact-us-overlay {
      color: $white-color;
      position: absolute;
      top: 70%;
      right: 5%;
    }
  }
}

#footer {
  h2 {
    font-weight: 700;
  }
  font-size: 0.85em;

  .footer-section {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
    ~ * {
      color: #6c757d;
    }
  }
  .card-icons {
    span {
      font-size: 1.5em;
      margin-right: 0.5em;
    }
  }
  .links {
    ul {
      padding-left: 1em;
      list-style: none;
      a {
        color: inherit;
      }
      li::before {
        content: "\2022";
        color: $pink-color;
        font-weight: bold;
        display: inline-block;
        width: 1em;
      }
    }
  }
  .blog {
    .blog-article {
      .blog-title {
        color: #606060;
      }
      img {
        object-fit: cover;
      }
      small {
        font-size: 0.6em;
      }
      a {
        font-size: 0.85em;
      }
      p {
        margin: 0;
      }
    }
  }
  hr {
    border-top: 1px solid #6c757d;
    flex: 0 0 100%;
  }
  .social-media-group {
    color: $white-color;
    span {
      font-size: 1.5em;
    }
    a {
      color: $white-color;
      font-size: 0.8em;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 767.98px) {
  body {
    font-size: 12px;
  }
  #new-arrivals-hero > .jumbotron {
    height: 50vh;
    .jumbotron-left {
      width: 60%;
      h1 {
        font-size: 2em;
      }
      h4,
      button {
        font-size: 1em;
      }
    }
  }
}
